extends layout

block content
  //h1= path
  //h1= sum
  .table-wrapper
    .navigation-bar
      a(href="/monthlyView" class="selected-page") Monthly view
      a(href="/categoryView") Category view
    .chart-container
      .top-chart
        canvas(class="top_chart-pie", id="pie_categories")
      .top-chart
        canvas(class="top_chart-bar", id="bar_weekly", height="300px", width="600px")
    //formul care imi selecteaza luna+an
    form(class="wrapped-form", action='/monthlyView', method='POST')
      div
        | Month: 
        select(class="wrapped-top-menu", name = 'month', value=metadata.current.selectedMonth)
          each mth in metadata.months
            option(value=mth selected=(mth==metadata.current.selectedMonth)) #{mth}
          else
            p No Months in DB
        |       Year: 
        select(class="wrapped-top-menu", name = 'year', value=metadata.current.selectedYear)
          each yr in metadata.years
            option(value=yr selected=(yr==metadata.current.selectedYear)) #{yr}
          else
            p No Years in DB
      input(class="wrapped-top-menu", type='submit', value='Filter By Month')
      div(class="wrapped-top-menu month-title")= title
      div(class="wrapped-top-menu month-title")= 'Income: ' + monthly_income + ' RON'
      div(class="wrapped-top-menu month-title")= 'Total expenses: ' + expense_list.reduce(function(total, item) { return total + parseFloat(item.sum); }, 0) + ' RON'
    .upload-form
      //formul care imi face upload la fisier  
      form(action="/monthlyView/load_file" method="POST" enctype="multipart/form-data")
        input(type="file" id="myfile" name="filename")
        input(type="submit")
      form(action="/monthlyView/insert_or_update_income" method="POST" enctype="multipart/form-data")
        input(type="text" id="currentMonthIncome" name="sum" placeholder=monthly_income)
        input(type="submit")
    //tabelul cu cheltuieli
    table(class="fl-table")
      thead
        th Description  
        th Sum
        th Date 
        th Category  
        th Bucket
        th Name
        th Delete
      tbody  
      each expense in expense_list
        tr 
          td #{expense.description} 
          td #{expense.sum}  
          td #{(new Date(expense.expense_date).getDate()) + "-" + (new Date(expense.expense_date).getMonth() + 1) + "-" + new Date(expense.expense_date).getFullYear()} 
          td 
            a(id="expenseType" + expense.id, href=path + "/category/" + expense.type) #{expense.type}
            img.inline-img.inline-edit(src="/icons/edit.png" alt="Edit expense category", onclick='createClickHandler('+expense.id+')')
          td 
            a(id="expenseBucket" + expense.id, href=path + "/bucket/" + expense.bucket) #{expense.bucket}
            img.inline-img.inline-edit(src="/icons/edit.png" alt="Edit expense bucket")
          td #{expense.name}
          td
            img.inline-img.inline-del(id=expense.id, src="/icons/delete.png" alt="Delete expense")
      else
        p There are no expenses.
      script(src="/js/charts.js")