extends layout
block content
  hr
  //formul care imi face upload la fisier  
  form(action="/monthlyVIew/load_file" method="POST" enctype="multipart/form-data")
    input(type="file" id="myfile" name="filename")
    input(type="submit")
  h2=path
  h1= title
  h1= 'Total: ' + expense_list.reduce(function(total, item) { return total + parseFloat(item.sum); }, 0) + ' RON'
  //h2= JSON.stringify(metadata)
  .table-wrapper
    //formul care imi selecteaza luna+an
    form(class="wrapped-form", action='/monthlyView', method='POST')
      div
        | Month: 
        select(class="wrapped-top-menu", name = 'month', value=metadata.current.selectedMonth)
          each mth in metadata.months
            option(value=mth selected=(mth==metadata.current.selectedMonth)) #{mth}
          else
            p No Months in DB
        |       Year: 
        select(class="wrapped-top-menu", name = 'year', value=metadata.current.selectedYear)
          each yr in metadata.years
            option(value=yr selected=(yr==metadata.current.selectedYear)) #{yr}
          else
            p No Years in DB
      input(class="wrapped-top-menu", type='submit', value='Filter By Month')
    //tabelul cu cheltuieli
    table(class="fl-table")
      thead
        th Description  
        th Sum
        th Date 
        th Category  
        th Bucket
        th Name
        th ID
      tbody  
      each expense in expense_list
        tr 
          td #{expense.description} 
          td #{expense.sum}  
          td #{expense.expense_date} 
          td 
            a(href=path + "/category/" + expense.type) #{expense.type}
          td 
            a(href=path + "/bucket/" + expense.bucket) #{expense.bucket}
          td #{expense.name}
          td #{expense._id}
      else
        p There are no expenses.
